*
{
    overflow:-moz-hidden-unscrollable;
}
.navbar-brand 
{  
   width: 80%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 50%;
  }

  .container
  {
     
  } 
  .container-fluid
  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #E572B3;
  }

  .collapse
  {
    
  }
  .page img
  {
      display: none;
  }